conda.enabled = true
params.config_dir = "${PWD}/module_configs"

params.rfdiff_editables_dir = '/ibex/user/thariaaa/RFdiffContainer'
params.rfdiff_sif_path = '/ibex/user/thariaaa/RFdiffContainer/RFdiffusion.sif'
params.num_designs = 1
params.output_prefix = 'test'

params.mpnn_editables_dir = '/ibex/user/thariaaa/MPNNContainer'
params.mpnn_sif_path = '/ibex/user/thariaaa/MPNNContainer/ProteinMPNN.sif'
params.mpnn_num_sequences = 2
params.mpnn_config_name = 'MPNN.yaml'

params.alphafold_sif_path = '/ibex/user/thariaaa/AlphaFoldContainer/AlphaFold.sif'
params.alphafold_data_dir = '/ibex/reference/KSL/alphafold/2.3.1/'
params.alphafold_config_name = 'AlphaFold.yaml'

process {
    executor = 'slurm'
    queue = 'batch'
    cpus = 8
    memory = '64 GB'
    time = '1h'
    clusterOptions = '--gres=gpu:1 --mail-user=arman.thariani@kaust.edu.sa --mail-type=ALL'
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
     $slurm {
        exitReadTimeout = "60 min"
    }
}