/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on SLURM
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuration for running the pipeline on a SLURM cluster with GPU support
----------------------------------------------------------------------------------------
*/

process {
    executor = 'slurm'
    queue = 'batch'
    
    // Default resources
    cpus = 8
    memory = '64 GB'
    time = '1h'
    
    // GPU processes
    withLabel: 'process_gpu' {
        clusterOptions = '--gres=gpu:1'
        queue = 'gpu'  // or your GPU queue name
        cpus = 8
        memory = '64 GB'
        time = '8h'
    }
    
    // High memory processes
    withLabel: 'process_high_memory' {
        memory = '128 GB'
        time = '16h'
    }
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
    $slurm {
        exitReadTimeout = '60 min'
        queueSize = 50
        submitRateLimit = '10 sec'
    }
}

// Uncomment and customize these paths for your specific setup
// params {
//     rfdiff_editables_dir  = '/path/to/RFdiffContainer'
//     rfdiff_sif_path       = '/path/to/RFdiffContainer/RFdiffusion.sif'
//     mpnn_editables_dir    = '/path/to/MPNNContainer'
//     mpnn_sif_path         = '/path/to/MPNNContainer/ProteinMPNN.sif'
//     alphafold_sif_path    = '/path/to/AlphaFoldContainer/AlphaFold.sif'
//     alphafold_data_dir    = '/path/to/alphafold/data'
// }
